
@font-face {
    font-family: "SpaceGrotesk-bold";
    src: url(../font/SpaceGrotesk-Bold.woff2);
    font-weight:bold;
}



@font-face {
    font-family: "SpaceGrotesk-regular";
    src: url(../font/SpaceGrotesk-Regular.woff2);
    font-weight:bold;
}

@font-face {
    font-family: "SpaceGrotesk-regular-bold";
    src: url(../font/SpaceGrotesk-Regular.woff2);
    font-weight:bold;

}